<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .glyphicon-menu-hamburger {
        font-size: 15px;
    }

    .container {
        width: 750px;
        margin-bottom: 15px;
    }

    .w3-section {
        margin-bottom: 0px !important;
    }

    .carousel-inner img {
      width: 100%;
      height: 100%;
  }
</style>
<style>

  @@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

  body {
    background: #fff;
    color: #000;
    margin: 0;
  }

  .tiles {
     margin: 0 auto;
    width: 80%;
    height: 100%;
  }

  .tile {
    float: left;
    width: 33.333%;
    height: 30%;
    overflow: hidden;
  }

  .photo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

  .txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
  }

  .x {
    font-size: 32px;
    line-height: 32px;
  }

</style>
<link rel="stylesheet" href="~/Content/Carousel.css">
<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/1.jpg" alt="Cupcake 1"  width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="~/Images/2.jpg" alt="Cupcake 2" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="~/Images/3.jpg" alt="Cupcake 3" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="~/Images/4.jpg" alt="Cupcake 4" width="1100" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>


<div class="w3-content w3-padding" style="max-width:1564px">

    <div class="tiles">
        <div class="tile" data-scale="1.1" data-image="../Images/6.jpg"></div>
        <div class="tile" data-scale="1.6" data-image="../Images/7.jpg"></div>
        <div class="tile" data-scale="2.4" data-image="../Images/8.jpg"></div>
    </div>
                <!-- About Section -->
                <div class="w3-container w3-padding-32" id="about">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

                <div class="w3-row-padding w3-grayscale">
                    <div class="w3-col l3 m6 w3-margin-bottom">
                        @*<img src="~/Images/Photo.jpg" alt="John" style="width:100%">*@
                        <h3>Mahmood Khan</h3>
                        <p class="w3-opacity">CEO</p>
                        <p>.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>


                    <!-- Contact Section -->
                    <div class="w3-container w3-padding-32" id="contact">
                        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
                        <p>Lets get in touch and talk about your next project.</p>
                        @using (Html.BeginForm("Message", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                        @*<form action="/action_page.php" target="_blank">*@
                            @*<input class="w3-input w3-border" type="text" placeholder="Name" required="" name="Name">
                            <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required="" name="Email">
                            <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required="" name="Subject">
                            <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required="" name="Comment">*@

                            @*@Html.TextBoxFor(m => Model.Name, new { @class="w3-input w3-border", placeholder = "Name" })
                            @Html.ValidationMessageFor(m => Model.Name, "", new { @style = "color:red" })

                            @Html.TextBoxFor(m => Model.EmailAddress, new { @class = "w3-input w3-section w3-border", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => Model.EmailAddress, "", new { @style = "color:red" })

                            @Html.TextBoxFor(m => Model.Subject, new { @class = "w3-input w3-section w3-border", placeholder = "Subject" })

                            @Html.TextBoxFor(m => Model.Message, new { @class = "w3-input w3-section w3-border", placeholder = "Comment" })
                            @Html.ValidationMessageFor(m => Model.Message, "", new { @style = "color:red" })*@
                            <br>
                            <button class="w3-button w3-black w3-section" type="submit">
                                <i class="fa fa-paper-plane"></i> SEND MESSAGE
                            </button>
                        @*</form>*@
                        }
                    </div>

                    @*@if (Model.MessageSent)
                    {
                        <div class="w3-container w3-padding-32" id="contact">
                            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
                            <p>Message sent successfully</p>
                        </div>
                    }*@
                </div>


                <!-- Google Map -->
                @*<div id="googleMap" class="w3-grayscale" style="width: 100%; height: 450px; position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Oops! Something went wrong.</div><div class="gm-err-message">This page didn't load Google Maps correctly. See the JavaScript console for technical details.</div></div></div></div></div>*@
                <div class="w3-container w3-padding-32" id="maps">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Reach Us</h3>
                    <div id="googleMap" class="" style="width: 100%; height: 450px; position: relative; overflow: hidden;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.288827951472!2d78.36328581477633!3d17.445884705707485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93c1bee0f159%3A0x72bbe15334f7afeb!2sCubus+Banking+Solutions+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1551113341888" width="600" height="450" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Add Google Maps -->
                <script>
function myMap()
{
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
                </script>
    @*<script>
   $('.tile')
    // tile mouse actions
    .on('mouseover', function(){
      $(this).children('.photo').css({'transform': 'scale('+ $(this).attr('data-scale') +')'});
    })
    .on('mouseout', function(){
      $(this).children('.photo').css({'transform': 'scale(1)'});
    })
    .on('mousemove', function(e){
      $(this).children('.photo').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
    })
    // tiles set up
    .each(function(){
      $(this)
        // add a photo container
        .append('<div class="photo"></div>')
        // some text just to show zoom level on current item in this example
        //.append('<div class="txt"><div class="x">'+ $(this).attr('data-scale') +'x</div>ZOOM ON<br>HOVER</div>')
        // set up a background image for each tile based on data-image attribute
        .children('.photo').css({'background-image': 'url('+ $(this).attr('data-image') +')'});
    })

    </script>*@
    <script>
   $('.tile')
    // tile mouse actions
    .on('mouseover', function(){
      $(this).children('.photo').css({'transform': 'scale('+ $(this).attr('data-scale') +')'});
    })
    .on('mouseout', function(){
      $(this).children('.photo').css({'transform': 'scale(1)'});
    })
    .on('mousemove', function(e){
      $(this).children('.photo').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
    })
    // tiles set up
    .each(function(){
      $(this)
        // add a photo container
        .append('<div></div>')
        // some text just to show zoom level on current item in this example
        //.append('<div class="txt"><div class="x">'+ $(this).attr('data-scale') +'x</div>ZOOM ON<br>HOVER</div>')
		.append('<img src="' + $(this).attr('data-image') + '" class="photo" />')
        // set up a background image for each tile based on data-image attribute
        //.children('.photo').css({'background-image': 'url('+ $(this).attr('data-image') +')'});
    })

    </script>



            </div>